div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

div.screen{
    flex-direction: column;
    height: 100vh;
    color: #d7e9ffb8;
    font-family: Courier, monospace
}

div.board {
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

button {
    display: flex;
    background-color: #263749;
    color: #3c5773;
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 0ch;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
}

button:hover {
    opacity: 0.8;
}

button.O {

    color: #F5F5F5;
    background-color: #30475e93;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
}

button.X {
    color: #a1ff87;
    background-color: #30475e93;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
}

button.WIN {
    color: #a1ff87;
    background-color: #30475e93;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
}

button.Reset {
    height: 50px;
    color: #d7e9ffb8;
}