<!DOCTYPE html>

<head>
    <title>XnO Engine</title>
    <link rel="stylesheet" href="{{url_for('static',filename= 'css/home.css')}}">
</head>

<body>
    <div class="title">
        <h2>XAND0BYPARDUN</h2>
    </div>

    <div class ="card">
        <form action="#" method="post" name="nameCard"
        style="display: flex; flex-direction: column; text-align: center;">
            <h3>Enter Name</h3>
            <input class = "text" type="text" name="nm"/>
            <input class = "button" type ="submit" value="Start"/>
        </form>
    </div>

</body>
