<!DOCTYPE html>

<head>
    <title>XnO Engine</title>
    <link rel="stylesheet" href="{{url_for('static',filename= 'css/styles.css')}}">
</head>

<body>
    <div class = "screen">
        <h2>X and O by Pardun</h2>
        <div class="board">
            <div>
                <button id=0></button>
                <button id=1></button>
                <button id=2></button>
            </div>
            <div>
                <button id=3></button>
                <button id=4></button>
                <button id=5></button>
            </div>
            <div>
                <button id=6></button>
                <button id=7></button>
                <button id=8></button>
            </div>
        </div>

            <h4 id="prompt">{{ message }}</h4>

        <button id=-1 class="Reset">Reset</button>
    </div>
</body>
